<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./src/css/main.css">
  <script src="/socket.io/socket.io.js"></script>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  {{!-- <div class="container"> --}}
    {{> './src/templates/chat.hbs'}}
  {{!-- </div> --}}
</body>
</html>
