<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./src/css/main.css">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=be6867fc-322f-406d-9175-34a2a1f4d84f&lang=ru_RU" type="text/javascript"></script>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  <div class="container">
    {{> './src/templates/chat.hbs'}}
  </div>
</body>
</html>
