<div id="map" style="width: 100%; height: 100vh"></div>

<div id="formFeedback" style="display: none;">
    <div id="headerAdress"></div>
    <div id="historyFeedback"></div>
    <div id="textBefore">Ваш отзыв:</div>
    <input type="text" placeholder="Ваше имя" id="name-input">
    <input type="text" placeholder="Укажите место" id="place-input">
    <input type="text" placeholder="Поделитесь впечатлениями" id="feedback-input">
    <button id="add-button">Добавить</button>

{{!--     <input type="text" placeholder="название города" id="filter-input"> --}}
</div>