<div id="formFeedback" class="modalForm">
    <div id="headerAdress">
        <img src="./img/map-pin.png">
        <div id=adressText></div>
        <a href="#" class="close"></a>
    </div>
    <div id="historyFeedback"></div>
    <div id="textBefore">ВАШ ОТЗЫВ</div>
    <input type="text" placeholder="Ваше имя" id="nameInput">
    <input type="text" placeholder="Укажите место" id="placeInput">
    <textarea placeholder="Поделитесь впечатлениями" id="feedbackInput"></textarea>
    <button id="addButton">Добавить</button>
</div>